<ul class="products">
    {{#each allEvents}}
    <li>
        <a href="/eventDetail/{{this._id}}">
            <div class="image" style="">
                <img src={{this.image}}>
                {{!-- <img src="../public/img/desert.jpg" alt=""> --}}
            </div>
            <h1> {{this.title}} </h1>
            <div class="informations">
                {{!-- <p> Date et lieu </p> --}}
                <buton>Seat Remaining : {{this.maxParticipant}}</buton>
            </div>
        </a>
    </li>
    {{/each}}
</ul>