<header class="imageAll">
    <div class="classAll">
        <h1>Current events</h1>
    </div>
</header>

<section id="sectionId">
    <main id="mainEvent">
                <p>Here, you can find the current events.<br> If you interested by one event, just click on it, read the description and participate.<br> Check on the remaining seat ! Join us and let's have some fun !</p>

        <ul class="products">
            {{#each allEvents}}
            <li>
                <a href="/eventDetail/{{this._id}}">
                    <div class="image" style="">
                        <img src={{this.image}}>
                    </div>
                    <h1> {{this.title}} </h1>
                    <div class="informations">
                        <buton>Seat Remaining : {{this.seat_remaining}}</buton>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>

    </main>

</section>