<header class="imageAll">
    <div class="classAll">
        <h1>Current events</h1>
    </div>
</header>

<section id="sectionId">
    <main id="mainEvent">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio explicabo, sed porro corrupti veniam dolor vel quod? Explicabo eveniet adipisci obcaecati modi saepe tempore eligendi odit in cupiditate non? Ea. Discover all the events available. It's time to find people who share the same passion.</p>

        <ul class="products">
            {{#each allEvents}}
            <li>
                <a href="/eventDetail/{{this._id}}">
                    <div class="image" style="">
                        <img src={{this.image}}>
                    </div>
                    <h1> {{this.title}} </h1>
                    <div class="informations">
                        <buton>Seat Remaining : {{this.seat_remaining}}</buton>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>

    </main>

</section>