<ul class="products">
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event </h1>
            <div class="informations">
                <p> Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event </h1>
            <div class="informations">
                <p>Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu </p>
               <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>

     <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
</ul>