<section class="create-event">

    <form action="" method="post" class="create-form" enctype="multipart/form-data">
        <h1 class="form-title">Create your event</h1>

        {{!-- //Nom de l'évenement --}}
        <div class="form-item">
            <label for="title" class="label-title">Event name</label>
            <input id="title" type="text" class="input-text" name="title" placeholder="Bowling">
        </div>

        {{!-- //Localisation de l'évenement --}}
        <fieldset class="form-group">
            <legend>Location</legend>

            <label for="adress" class="label-title">Adress</label>
            <input id="adress" type="text" class="input-text" name="adress" placeholder="2 rue charpy">

            <label for="zipCode" class="label-title">Zip Code</label>
            <input id="zipCode" type="text" class="input-text" name="zipCode" placeholder="75018">

            <label for="city" class="label-title">City</label>
            <input id="city" type="text" class="input-text" name="city" placeholder="Paris">

            <label for="country" class="label-title">Country</label>
            <input id="country" type="text" class="input-text" name="country" placeholder="France">
        </fieldset>

        {{!-- //Description de l'évenement --}}
        <div class="form-item">
            <label for="description" class="label-title">Description</label>
            <textarea class="input-text" name="description" id="description" cols="30" rows="10"></textarea>
        </div>

        {{!-- //Nbre de personne qui participent --}}
        <div class="">
            <label for="maxParticipant" class="label-title">Number of Participants</label>
            <input id="maxParticipant" type="number" min="1" class="input-text" name="maxParticipant"
                placeholder="1, 2, ..., 100">
        </div>

        {{!-- //Date de début de l'évenement --}}
        <div class="">
            <label for="dateStart" class="label-title">Date Start</label>
            <input id="dateStart" type="date" class="input-text" name="dateStart" placeholder="14/12/2020">
        </div>

        {{!-- //Date de fin de l'évenement --}}
        <div class="">
            <label for="dateEnd" class="label-title">Date End</label>
            <input id="dateEnd" type="date" class="input-text" name="dateEnd" placeholder="14/12/2020">
        </div>

        {{!-- //Durée de l'évenement --}}
        <div class="">
            <label for="duration" class="label-title">Duration</label>
            <input id="duration" type="number" min="1" class="input-text" name="duration" placeholder="En heure">
        </div>
        <button id="create-btn">Create your event</button>
    </form>

</section>