<header class="imageAll">
  <div class="header-event-details">
    <h1>Centre Tao</h1>
    <p>Paris</p>
  </div>
</header>

<main id="main-eventDetail">
<section id="image-event">
<img src="https://res.cloudinary.com/dx7ahhk3r/image/upload/v1608129421/samantha-gades-fIHozNWfcvs-unsplash_qja4nd.jpg" alt="">
</section>
<section id="section1">
    <div>
    <h1>Centre Tao Paris</h1>
    <p class="city-txt">City</p>
    </div>

    <div id="informationEvent">
        <img src="" alt="">
        <p>Date debut</p>
        <p>Date fin</p>
        <img src="" alt="">
        <p>heure debut</p>
        <p>heure fin</p>
       <img src="" alt="">
        <p>adresse</p>
    </div>

</section>
<section id="section1">
 <div>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem, officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci earum similique minus.</p>
</div>
</section>
</main>















{{!-- <ul class="products">
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event </h1>
            <div class="informations">
                <p> Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event </h1>
            <div class="informations">
                <p>Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu </p>
               <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>

     <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
</ul> --}}