<header class="imageAll">
    <div class="header-event-details">
        <h1>Centre Tao</h1>
        <p>Paris</p>
    </div>
</header>

<main id="main-eventDetail">
    <section id="image-event">
        <img src="https://res.cloudinary.com/dx7ahhk3r/image/upload/v1608129421/samantha-gades-fIHozNWfcvs-unsplash_qja4nd.jpg"
            alt="">
    </section>
    <section id="section1">
        <div>
            <h1>Centre Tao Paris</h1>
            <p class="city-txt">City</p>
        </div>

        <div id="informationEvent">
            <div class="test">
                <img src="/public/img/calendar.png"/>
            <p>Date debut</p>
            <p>Date fin</p>
            </div>
          <div class="test">
              <img src="/public/img/clock.png">
            <p>heure debut</p>
            <p>heure fin</p>
          </div>
           <div class="test">
                 <img src="/public/img/pin.png">
            <p>adresse</p>
           </div>
        </div>

    </section>
    <section id="descriptionEvent">
        <div id="descriptionDetails">
            <p class="des-1">Details</p>
            <p class="des-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                pturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti,excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi vel quidem eos dolorem,
                officiis provident corrupti, excepturi nam cupiditate esse totam deleniti voluptatum cum amet adipisci
                earum similique minus.</p>
        </div>
        <div id="container-button">
        <div class="button-participate-event">
            <a class="button-participate" href="#">Participate</a>
            </div>
            <div class="button-sign-signout"></div>
            <a class="sign-event" href="#">Signin</a>
            <a class="sign-event" href="#">Signout</a>
        </div>
        </div>
    </section>
</main>

