<header class="imageAll">
  <div class="header-event-details">
    <h1>Centre Tao</h1>
    <p>Paris</p>
  </div>
</header>

<main id="main-eventDetail">
<section id="image-event">
<img src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607960958/mohau-mannathoko-upvUrxqrmro-unsplash_r5ok1c.jpg" alt="">
</section>
<section id="section1">

</section>
<section id="section1">

</section>
</main>















{{!-- <ul class="products">
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event </h1>
            <div class="informations">
                <p> Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event </h1>
            <div class="informations">
                <p>Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu </p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu </p>
               <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1>Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>

     <li>
        <a>
            <div class="image" style=""></div>
            <h1> Description event</h1>
            <div class="informations">
                <p>Date et lieu</p>
                <buton>participe</buton>
            </div>
        </a>
    </li>
</ul> --}}