  <head>
{{> head}}
  </head>
  <body>
{{>nav_bar}}
    <header class="main-head">
      <div class="images-header">
        <h1>EventDay</h1>
        <p>It's time to find people who share the same passion.</p>
      </div>
    </header>
    <main>
      <article>

        <!-- 3D Slideshow Section -->
        <section id="slideshow">
          <p id="quote">It's time to find people who share the same passion</p>
          <div class="entire-content">
            <div class="content-carrousel">
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607960627/michelle-mcewen-yk2VUa5vtA0-unsplash_rf5d8s.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607960794/allef-vinicius-DmUbkltYsKI-unsplash_u0hy1a.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607960795/anna-vander-stel-2OAUj3l6zc4-unsplash_uxzhqw.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607960795/anthony-delanoix-hzgs56Ze49s-unsplash_kvjnkn.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607960958/mohau-mannathoko-upvUrxqrmro-unsplash_r5ok1c.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607961077/samantha-gades-x40Q9jrEVT0-unsplash_jug86o.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607961077/tyler-nix-V3dHmb1MOXM-unsplash_qghh4v.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607961178/teemu-paananen-bzdhc5b3Bxs-unsplash_xoqohq.jpg"
                />
              </figure>
              <figure class="shadow">
                <img
                  src="https://res.cloudinary.com/dqwbskuge/image/upload/v1607961388/seth-reese-lA2qXhn4L2A-unsplash_ko8eh5.jpg"
                />
              </figure>
            </div>
          </div>
          <a href="#">Discover all the events !</a>
        </section>

        <section id="section1">
          <div id="big-box">
            <div class="box">
              <img
                src="https://img.icons8.com/officel/80/000000/add-user-male.png"
                alt="music icon"
              />
              <h2>Sign up</h2>
              <p></p>
            </div>
            <div class="box">
              <img
                src="https://img.icons8.com/plasticine/100/000000/planner.png"
                alt="high quality icon"
              />
              <h2>Create an event</h2>
              <p></p>
            </div>
          </div>
        </section>
      </article>
    </main>

    <footer>
      {{> footer}}
    </footer>

