<header class="main-head">
  <div class="images-header">
    <h1>EventDay</h1>
    <p>It's time to find people who share the same passion.</p>
  </div>
</header>
<main>
  <article>
    <!-- 3D Slideshow Section -->
    <section id="slideshow">
      <p id="quote">It's time to find people who share the same passion</p>
      <div class="entire-content">
        <div class="content-carrousel">
          {{!-- Create a dynamique carousel sorted by created date --}}
          {{#each carouselImg}}
          <figure class="shadow">
            <a href="/allEvents"><img src={{this.image}}></a>
          </figure>
          {{/each}}
          </figure>
        </div>
      </div>
      <div class="discoverBtn">
        <a href="/allEvents">Discover <br> all the events !</a>
      </div>
    </section>

    <section id="section1">
      <div id="big-box">
        {{#unless isLoggedIn}}
        <div class="box">
          <a href="/signup"><img src="https://img.icons8.com/officel/80/000000/add-user-male.png"
              alt="music icon" /></a>
          <h2>Sign up</h2>
        </div>
        {{/unless}}

        <div class="box">
          <a href="/events_manage/create"><img src="https://img.icons8.com/plasticine/100/000000/planner.png"
              alt="high quality icon" /></a>
          <h2>Create an event</h2>
        </div>
      </div>
    </section>
  </article>
</main>