<div id="container-div">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form class="form-signin" action="/signin" method="post">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <button id="signUp">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p class="p-signin">Enter your personal details and start journey with us</p>
                    <a href="/signup" class="ghost" id="signIn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>