{{!-- <section id="signup">

    <header class="signup-header">
        <h1 class="signup-title">Sign Up</h1>
    </header>

    <form action="" method="post" class="signup-form form">
        <div class="signup-name identification">
            <label for="name" class="identification-label">Name</label>
            <input id="name" type="text" class="input-text" placeholder="Jérémie" required value="hanane" name="name">
        </div>

        <div class="signup-first-name identification">
            <label for="first-name" class="identification-label">Fist Name</label>
            <input id="first-name" type="text" class="input-text" placeholder="Goureau" required value="Azz"
                name="first-name">
        </div>

        <div class="signup-email identification">
            <label for="email" class="identification-label">Email</label>
            <input id="email" type="email" class="input-text" placeholder="hanane.azz@gmail.com" required
                value="hanane@azz.com" name="email">
        </div>

        <div class="signup-password identification">
            <label for="password" class="identification-label">Password</label>
            <input id="password" type="password" class="input-text" placeholder="•••••••" required value="123456"
                name="password">
        </div>

        <button class="signup-btn form-btn-identification">SIGN UP</button>
    </form>
    <p class="signup-info-signup">Already have an account? <a href="/signin">Sign In</a></p>

</section> --}}

<div id="container-div">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/signup" method="post" class="signin-form form-signin form">

                <h1>Create Account</h1>
                <span>or use your email for registration</span>

                <label for="name" class="identification-label">Name</label>
                <input id="name" type="text" placeholder="hanane" name="name">

                <label for="email" class="identification-label">Email</label>
                <input id="email" type="email" class="input-text" placeholder="hanane.azz@gmail.com" required value=""
                    name="email">

                <label for="password" class="identification-label">Password</label>
                <input id="password" type="password" class="input-text" placeholder="••••••" required value=""
                    name="password">

                <button class="ghost" id="signUp">Sign Up</button>
                {{!-- <a href="/signup">Sign Up</a> --}}
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p class="p-signin">To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>