<body>

<section id="signin">

    <header class="signin-header">
        <h1 class="signin-title">Welcome back</h1>
    </header>

    <form action="" method="post" class="signin-form form">
        <div class="signin-email identification">
            <label for="email" class="identification-label">Email</label>
            <input id="email" type="email" class="input-text" placeholder="hanane.azz@gmail.com" required
                value="hanane@azz.com" name="email">
        </div>

        <div class="signin-password identification">
            <label for="password" class="identification-label">Password</label>
            <input id="password" type="password" class="input-text" placeholder="••••••" required value="123456"
                name="password">
        </div>

        <button class="signin-btn form-btn-identification">SIGN IN</button>
    </form>
    <p class="signin-info-signup">Don't have an account yet? <a href="/signup">Sign Up</a></p>

</section>

</body>
