.classAll {
    background: url("https://res.cloudinary.com/dx7ahhk3r/image/upload/v1608129421/samantha-gades-fIHozNWfcvs-unsplash_qja4nd.jpg")
      no-repeat center -100px;
    background-size: cover;
    background-position: 0 0;
    position: fixed;
    min-height: 500px;
    margin-bottom: 30px;
  }
  
  .classAll {
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .classAll h1 {
    font-size: 105px;
    line-height: 80px;
    color: #f6d938;
  }
  

.products {
    display:block;
    width:100%;
    height:100%;
    position:relative;
    margin:0px;
    padding:0px;
    font-size:0px;
    list-style:none;
}

.products li {
    display:inline-block;
    width:200px;
    height:237px;
    position:relative;
    margin:0px;
    padding:0px;
    z-index:1;
}

.products li:hover {
    z-index:2;
}

.products li a {
    display:block;
    width:180px;
    height:auto;
    padding:10px;
    position:absolute;
    background-color:white;
    cursor:pointer;
}

.products li:hover a {
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -o-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -ms-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    border: solid #f6d938;
}

.products li a .image {
    display:block;
    width: 150px;
    height: 90px;
    position:relative;
}

.products li a .image img {
width: 100%;

}

.products li a h1 {
    display:block;
    height:auto;
    margin:10px 0px;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
}



.products li a .informations {
    display:none;
}

.products li a .informations p,
.products li a .informations label {
    display:block;
    height:auto;
    margin:10px 0px;
    font-family:arial;
    font-size:10px;
    color:grey;
    font-weight:normal;
}

.products li:hover a .informations {
    display:block;
}

#mainEvent {
    width: 100%;
    margin : auto; 
    padding-left: 50px; 
}

#mainEvent p {
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 30px;
   text-decoration: underline #f6d938;
}

#mainEvent * {
    flex-wrap: wrap;
    display : flex;
    
}

