/*
.products {
    display:block;
    width:100%;
    height:100%;
    position:relative;
    margin:0px;
    padding:0px;
    font-size:0px;
    list-style:none;
}

.products li {
    display:inline-block;
    width:200px;
    height:237px;
    position:relative;
    margin:0px;
    padding:0px;
    z-index:1;
}



.products li a {
    display:block;
    width:180px;
    height:auto;
    padding:10px;
    position:absolute;
    background-color:white;
    cursor:pointer;
}
}

.products li a .image {
    display:block;
    height:150px;
    width: 150px;
    position:relative;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    background-color:rgb(167, 142, 142);
}

*/



.header-event-details {
    background-size: cover;
    background-position: 0 0;
    position: fixed;
    min-height: 500px;
    margin-bottom: 30px;
    background-color: #f3d9cc;
  }
  
  .header-event-details {
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .header-event-details h1 {
    font-size: 105px;
    line-height: 80px;
    color: #2d3035;
    line-height: normal;
  }
  
  .header-event-details p {
    font-size: 40px;
    color: #7a2323;
  }

  #image-event {
   display: flex;
    justify-content: center;
}
  #image-event img {
      height: 350px;
      width:500px;
  }