.container-page-event {
  border-style: solid;
  box-shadow: 12px 12px 2px 1px rgba(131, 10, 10, 0.2);
  width: 50vh;
  flex-direction: column;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

/* section .container-page-event {
  display: flex;
  justify-content: center;
  align-items: center;
} */

section {
  margin: auto;
}