@import './homepage.css';
@import './signin.css';
@import './footer.css';
@import './form_create_event.css';
@import './allEvents.css';
@import './dashboard.css';
@import './eventDetail.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*Body*/
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #nav-bar a {
    color: #05293b;
    text-decoration: none;
    font-size: 20px;
  }

  .border-nav:hover {
    border: solid  white;
    padding: 15px;
  }
 
  #nav-bar {
      padding: 20px;
      background-color: #f6d938;
      top: 0;
      position: fixed;
      width: 100%;
      z-index: 5;
  }

  #logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 60px;
      margin-right: 90px;
  }

  #logo div{
    flex-direction: row;
    display: flex;
}

  #logo ul {
    flex-direction: row;
    display: flex;
    list-style: none;
  }

  #logo li {
    margin-left: 15px;
  }
  
  #logo h1 {
    color: #05293b;
    font-size: 50px;
  }
  
  #logo p {
    color: #05293b;
    background-color: #f6d938;
    margin-left: 160px;
    padding:15px;
    width: 30vh;
    text-align: center;
    font-size: 20px;
  }

  #logo p:hover {
    border: solid  white;
  }