@import './homepage.css';
@import './signin.css';
@import './footer.css';
@import './form_create_event.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*Body*/
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #nav-bar a {
    color: rgb(6, 51, 90);
    text-decoration: none;
    font-size: 20px;
  }
 
  #nav-bar {
      padding: 20px;
  }

  #logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 60px;
      margin-right: 90px;
  }

  #logo div{
    flex-direction: row;
    display: flex;
}

  #logo ul {
    flex-direction: row;
    display: flex;
    list-style: none;
  }

  #logo li {
 margin-left: 15px;
  }
  
  #logo h1 {
    color: #7a2323;
    font-size: 50px;
  }
  
  #logo p {
    color: #ffffff;
    background-color: #7a2323;
    margin-left: 160px;
    padding:20px;
    width: 30vh;
    text-align: center;
    font-size: 22px;
    /* padding:18px; */
  }