<nav id="nav-bar">
  <div id="logo">
    <div>
      <a href="/">
        <h1>EventDay</h1>
      </a>
      <a href="/eventPage"><p> + create your event</p></a>
    </div>
    <ul>
      {{#unless isLoggedIn}}
      <li><a href="/signin">Sign In </a></li>
      <li><a href="/signup">Sign Up</a></li>
      {{/unless}}
      {{#if isLoggedIn}}
      <a href="/signout">signout</a>
      {{/if}}
    </ul>
  </div>
</nav>